@tailwind base;
@tailwind components;
@tailwind utilities;

p {
    color: whitesmoke
}

.gallery-card {
    border-radius: 12px;
    background-color: rgb(40, 40, 40);
    padding: 8px;
    margin: 16px;
    width: 400px;
}

.music-video-card {
    border-radius: 12px;
    background-color: rgb(40, 40, 40);
    padding: 8px;
    margin: 16px;
    width: 620px;
}

.gallery-card p {
    padding: 8px;
    font-weight: bold;
}

.gallery-card span {
    color: crimson;
}

.gallery-card img {
    border-radius: 12px;
}

.gallery-card-footer {
    position: relative;
    display: block;
    height: 50px;
}

.gallery-card-footer button {
    position: absolute;
    right: 0px;
}

.gallery-card-tag {
    color: greenyellow;
}

.title {
    margin-top: 100px;
    padding: 16px;
    font-size: 32px;
}

.overlay {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, #000000, rgba(255, 0, 0, 0.201));
    opacity: 1;
}

.blog-img-card-row {
    display: flex !important;
    flex-direction: row !important;
}

.blog-img-card-row .blog-img-card {
    margin-right: 10px !important;
}

video {
    margin-top: 16px;
    margin-bottom: 16px;
}

.blog-img-card {
    border-radius: 12px;
    background-color: rgb(40, 40, 40);
    padding: 8px;
    width: 80%;
    margin-top: 32px;
    flex-direction: column;
}

button {
    background: crimson;
    outline: none;
    border: 0;
    font-size: 17px;
    padding: 5px 30px;
    color: #fff;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 50px;
    text-align: center;
    font-family: inherit;
}

button:hover {
    background: unset;
    border: 3px solid whitesmoke;
    color: whitesmoke;
}

button img {
    margin-right: 4px;
}

.blog-img {
    padding: 16px 0px;
}

.blog-img-title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: tomato;
}

hr {
    margin: 16px 6px;
    width: 90%;
    color: grey;
}

.poem-signature hr {
    width: 20% !important;
}

.poem-signature {
    font-weight: bolder;
    font-size: 20px;
}

ul {
    color: crimson;
}