@tailwind base;
@tailwind components;
@tailwind utilities;

p {
    color: whitesmoke
}

.gallery-card {
    border-radius: 12px;
    background-color: rgb(40, 40, 40);
    padding: 8px;
    margin: 4px;
    width: 400px;
    cursor: pointer;
}

.music-video-card {
    border-radius: 12px;
    background-color: rgb(40, 40, 40);
    padding: 8px;
    margin: 16px;
    width: 620px;
}

.sound-cloud-card {
    border-radius: 12px;
    background-color: rgb(40, 40, 40);
    padding: 8px;
    margin: 16px;
}

@media only screen and (max-width: 600px) {
    .music-video-card {
        width: 100%;
    }
}

.gallery-card p {
    padding: 8px;
    font-weight: bold;
}

.gallery-card span {
    color: crimson;
}

.gallery-card span a {
    color: gray;
    text-decoration: underline;
}

.gallery-card img {
    border-radius: 12px;
}

.gallery-card.music-card img.cover-img {
    height: 120px;
}

.gallery-card-footer {
    position: relative;
    display: block;
    height: 50px;
}

.gallery-card-footer button {
    position: absolute;
    right: 0px;
}

.gallery-card-tag {
    color: greenyellow;
}

.title {
    margin-top: 50px;
    padding: 16px;
    font-size: 32px;
}

.overlay {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, #000000, rgba(255, 0, 0, 0.201));
    opacity: 1;
}

.blog-img-card-row {
    display: flex !important;
    flex-direction: row !important;
}

.blog-img-card-row .blog-img-card {
    margin-right: 10px !important;
}

video {
    margin-top: 16px;
    margin-bottom: 16px;
}

.blog-img-card {
    border-radius: 12px;
    background-color: rgb(40, 40, 40);
    padding: 8px;
    width: 80%;
    margin-top: 32px;
    flex-direction: column;
}

button {
    background: crimson;
    outline: none;
    border: 0;
    font-size: 17px;
    padding: 5px 30px;
    color: #fff;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 50px;
    text-align: center;
    font-family: inherit;
}

button.outlined {
    background: unset;
    border: 3px solid whitesmoke;
    color: whitesmoke;
}

button.outlined:hover {
    background: crimson;
    border: 0;
}

button:hover {
    background: unset;
    border: 3px solid whitesmoke;
    color: whitesmoke;
}

button img {
    margin-right: 4px;
}

.blog-img {
    padding: 16px 0px;
}

.blog-img-title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: tomato;
}

hr {
    margin: 16px 6px;
    width: 90%;
    color: grey;
}

.poem-signature hr {
    width: 20% !important;
}

.poem-signature {
    font-weight: bolder;
    font-size: 20px;
}

ul {
    color: crimson;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


.blog-body p {
    font-weight: bold;
    color: whitesmoke;
    font-size: large;
}

.blog-body h2 {
    color: crimson;
}

.blog-body p span {
    display: block;
}

.blog-body p a {
    cursor: pointer;
    text-decoration: underline;
    color: crimson;
}

.blog-body hr {
    margin: 16px 0px;
    width: 90%;
    color: grey;
}

.blog-body ul {
    margin-bottom: 20px;
}

.blog-body h1,
h3 {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 700;
    margin-top: 20px;
}

.blog-body ul li {
    cursor: pointer;
    font-size: large;
    font-weight: bold;
}

.blog-body ul li:hover {
    text-decoration: underline;
}

blockquote {
    border-left: 12px solid gray;
    padding: 0 0 0 30px;
    margin: 30px 0 30px 0;
    background-color: #252525;
}

h4 {
    padding: 0;
    font-weight: bold;
    line-height: 5;
    font-size: 1.5em;
}